<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>

		<target xsi:type="File" async="true"
				name="infoLog"
				fileName="${basedir}/log/sso-log-info.log"
				layout="${longdate} [${threadid}] ${uppercase:${level}} | ${callsite:className=true:methodName=true} | ${message}"
				archiveFileName="${basedir}/log/sso-log-info.log.{#}"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyy-MM-dd"
				archiveEvery="Day"
				archiveAboveSize="104857600" />
		<!-- 100 MB in bytes -->

		<target xsi:type="File" async="true"
				name="errorLog"
				fileName="${basedir}/log/sso-log-error.log"
				layout="${longdate} [${threadid}] ${uppercase:${level}} | ${callsite:className=true:methodName=true} | ${message}"
				archiveFileName="${basedir}/log/sso-log-error.log.{#}"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyy-MM-dd"
				archiveEvery="Day"
				archiveAboveSize="104857600" />
		<!-- 100 MB in bytes -->

		<target xsi:type="File" async="true"
				name="debugLog"
				fileName="${basedir}/log/sso-log-debug.log"
				layout="${longdate} [${threadid}] ${uppercase:${level}} | ${callsite:className=true:methodName=true} | ${message}"
				archiveFileName="${basedir}/log/sso-log-debug.log.{#}"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyy-MM-dd"
				archiveEvery="Day"
				archiveAboveSize="104857600" />
		<!-- 100 MB in bytes -->

		<!--<target xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="104857600"  name="errorLog" fileName="${basedir}\log\sso-log-error_${shortdate}.log" async="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
				<attribute name="threadid" layout="${threadid}" />
				<attribute name="methodName" layout="${callsite}" />
				<attribute name="line" layout="${callsite-linenumber}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>-->
	</targets>

	<rules>
		<!--Bỏ qua k ghi những thông tin về hệ thống mặc định-->
		<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
		<logger name="Microsoft.*" minlevel="Debug" writeTo="" final="true" />

		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugLog" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoLog" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorLog" />

	</rules>
</nlog>


